/* reset universal setup */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black-color: #000;
  --lg-blue-color: #dadbf1;
  --bottom-border: 2px solid #000;
}
/* body format */
body {
  font-family: Archivo, sans-serif;
  line-height: 1.5;
  color: #000;
  scroll-behavior: smooth;
  transition: 0.3s;
  overflow-x: hidden;
}

/* Wrap the nav and sections in a specific format */
.wraper {
  max-width: 1200px;
  margin: 0 auto;
}
/* container for nav bar */
.nav-container {
  width: 100%;
  border-bottom: 2px solid #000;
  padding: 0 16px;
  font-size: 1.5rem;
  font-weight: 700;
  position: sticky;
  top: 0px;
  z-index: 1;
}
/* Nav bar section formatting */
.nav-bar {
  width: 100%;
  height: 3.5rem;
  background-color: #fff;
  padding: 0 8px;

  .nav-bar-item img {
    width: 30px;
    height: 30px;
    border: none;
    position: fixed;
    top: 10px;
    right: 5px;
  }
}

.nav-bar a:hover {
  text-decoration: underline;
}

/* Hamburg menu  */
.nav-bar .hamburgmenu {
  display: block;
}

.nav-bar .menus {
  display: none;
}

/* Nav bar flex setup */
.nav-bar-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* List item flex */
.nav-bar-flex .menus ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 40px;
  /* display: none; */
}

a {
  text-decoration: none;
  color: #000;
}
.menus ul {
  list-style: none;
}
h1 {
  font-size: 3.25rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

main .abstract-info-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;

  .abstarct-more {
    padding-bottom: 10px;
  }
}

.abstarct-more .live span a:hover {
  color: #4c5fd5;
}

main .material {
  display: flex;

  gap: 0;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;

  border-bottom: 2px solid #000;
  /* margin: 0 auto; */

  h3 {
    margin-top: 25px;
    margin-bottom: 15px;
  }
}

main .items {
  /* Give each item one-third of the space */
  /* width: 33.33%; */
  /* The base size is 0, so they start small */
  /* flex-basis: 0; */
  /* They all grow equally to fill the space */
  /* flex-grow: 1; */
  width: 100%;
  flex: 1;
  /* padding: 0; */
  margin: 0 1.2rem;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #000;
}
.material .item-1 {
  display: flex;

  padding: 0 16px 24px;
  padding: 0px;
  border-bottom: 2px solid #000;

  h3 {
    padding: 0px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 25px;
  }

  ul {
    display: block;
    list-style-type: disc;
    padding-inline-start: 40px;
    /* padding-inline-end: 40px; */
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0px;
  }
}

.material .item-2 {
  display: flex;
  border-bottom: 2px solid #000;
  padding-top: 10px;
  flex-wrap: wrap;

  .color-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
    padding-bottom: 20px;
    flex: 1;

    .color p {
      padding-top: 5px;
      text-align: center;
      font-size: 16px;
    }
    .color-purple {
      display: flex;
      gap: 10px;
    }

    .color .color-purple-background {
      width: 30px;
      height: 30px;
      background: #4c5fd5;
      border-radius: 50%;
    }

    .color-black {
      /* make the black color palet flex */
      display: flex;
      gap: 10px;
    }
    .color .color-black-background {
      width: 30px;
      height: 30px;
      background: #000;
      border-radius: 50%;
    }
    .color-lg-blue {
      /* make the light gray blue  color palet flex */
      display: flex;
      gap: 10px;
    }
    .color .color-lg-blue-background {
      /* Add the lightgray blue color as background with 50% radious */
      width: 30px;
      height: 30px;
      background: #dadbf1;
      border-radius: 50%;
    }
    .color-white {
      /* make the white  color palet flex */
      display: flex;
      gap: 10px;
    }
    .color .color-white-background {
      /* Add the white color as background with 50% radious */
      width: 30px;
      height: 30px;
      background: #fff;
      border: 1px solid black;
      border-radius: 50%;
    }
  }
}

main .material .resoucres {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  a:hover {
    color: blue;
  }
}

main .material .resoucres .links {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  padding-bottom: 10px;
}

.extra-info {
  border-bottom: var(--bottom-border);
  padding: 50px 0;
  border-left: var(--bottom-border);
  border-right: var(--bottom-border);
}
.extra-info-flex {
  display: flex;
  flex-direction: column;
}

.extra-info .extra-info-container {
  padding: 25px;
  color: white;
  margin: 0px 1rem 1rem;
  /* flex:1; */
}
.extra-info .challenge {
  background: var(--black-color);
}
.extra-info .easy {
  background: rgba(0, 0, 0, 0.5);
}

.extra-info .hard {
  background: white;
  border: 2px solid black;
  color: var(--black-color);
  a {
    text-decoration: underline;
  }
}

.image-wrap {
  border-left: var(--bottom-border);
  border-right: var(--bottom-border);
  padding: 30px;
}
.image-section {
  h3 {
    margin-top: 50px;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
  }
}
img {
  max-width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
.ref-image {
  border: 2px solid var(--black-color);
  border-radius: 10px;
  margin-top: 50px;
}

footer {
  padding: 40px 20px;
  background: var(--black-color);
}

.footer-items {
  color: #fff;
  font-size: inherit;
  display: flex;
  flex-direction: column;

  align-items: start;

  .copyright {
    margin-bottom: 1rem;
  }
  a {
    color: #fff;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Tablet */
@media (min-width: 768px) {
  /* Tablet-specific styles */
  main .live {
    padding: 16px 0;
  }
  .nav-bar .menus {
    display: block;
  }
  /* Make hamburg menu invisible on large screens */

  .nav-bar .hamburgmenu {
    display: none;
  }

  main .material {
    display: flex;
    flex-direction: row;
    border-left: 2px solid black;
    border-right: 2px solid black;
    align-items: stretch;

    /* background-color: #4c5fd5; */
    .item-1 {
      border-right: 2px solid black;
      border-bottom: 0;
      align-items: center;
      padding: 0;

      h3 {
        padding: 0;
      }
    }
    .item-2 {
      border-bottom: 0;
      /* flex: 1 1 0; */

      border-right: 2px solid black;

      padding: 0 16px 16px;
      align-items: center;
      margin: 0;
    }
    .color {
      display: flex;
      padding: 0;
      margin: 0;
    }

    .resoucres {
      border-bottom: 0;
      align-items: center;
    }
  }

  .extra-info {
    display: flex;

    flex-flow: wrap;
    justify-content: center;
  }
  .extra-info-container {
    max-width: 350px;
  }
  .extra-info .hard {
    flex-basis: 100%;
    width: auto;
  }
  .footer-items {
    align-items: center;
    .pages {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 60px;
    }
  }
}

/* Desktop */
@media (min-width: 1024px) {
  /* Desktop-specific styles */
  main .live {
    padding: 26px 0;
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
  /* Large screen optimizations */
  main .live {
    padding: 36px 0;
  }
  .extra-info .hard {
    flex-basis: auto;
    max-width: 350px;
  }
}
