/* reset universal setup */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black-color: #000;
}
/* body format */
body {
  font-family: Archivo, sans-serif;
  line-height: 1.5;
  color: #000;
  scroll-behavior: smooth;
}

/* Wrap the nav and sections in a specific format */
.wraper {
  max-width: 1200px;
  margin: 0 auto;
}
/* container for nav bar */
.nav-container {
  width: 100%;
  border-bottom: 2px solid #000;
  padding: 0 16px;
  font-size: 1.5rem;
  font-weight: 700;
  position: sticky;
  top: 0px;
  z-index: 10;
}
/* Nav bar section formatting */
.nav-bar {
  width: 100%;
  height: 5rem;
  background-color: #fff;
  padding: 0 8px;
}

/* Hamburg menu  */
.nav-bar .hamburgmenu {
  display: block;
}

.nav-bar .menus {
  display: none;
}

/* Nav bar flex setup */
.nav-bar-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* List item flex */
.nav-bar-flex .menus ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 40px;
  /* display: none; */
}

a {
  text-decoration: none;
  color: #000;
}
.menus ul {
  list-style: none;
}
h1 {
  font-size: 3.25rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
}

main .abstract-info-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px dashed #000;
}

main .material {
  display: flex;
  gap: 0;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;

  border-bottom: 2px solid #000;
  /* margin: 0 auto; */
}

main .items {
  /* Give each item one-third of the space */
  /* width: 33.33%; */
  /* The base size is 0, so they start small */
  /* flex-basis: 0; */
  /* They all grow equally to fill the space */
  /* flex-grow: 1; */
  flex: 1;
  padding: 0;
  margin: 0 4rem;
  display: flex;
  flex-direction: column;
}
main .material .item-1 {
  /* display: flex; */
  /* flex-direction: column;
  align-items: end; */
}

main .material .item-2 {
  /* border-right: 2px solid #000; */
}
/* format the items in the material section */
main .material .items {
  /* border-left: 2px solid #000; */
}

main .material .resoucres {
  display: flex;
  flex-direction: column;
}

main .material .resoucres .links {
  display: flex;
  flex-direction: column;
}

/* Tablet */
@media (min-width: 768px) {
  /* Tablet-specific styles */
  /* .container .nav-bar-flex .menus {
    /* display: block; */
  /* background-color: rgba(13, 13, 118, 0.716); */

  main .live {
    padding: 16px 0;
  }
  .nav-bar .menus {
    display: block;
  }
  .nav-bar .hamburgmenu {
    display: none;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  /* Desktop-specific styles */
  main .live {
    padding: 26px 0;
  }
}

/* Large Desktop */
@media (min-width: 1440px) {
  /* Large screen optimizations */
  main .live {
    padding: 36px 0;
  }
}
